---
const { src, alt, title, desc, link, tags } = Astro.props
import TagLabel from '../tagLabel/TagLabel.astro'
---

<article>
    <img src={src} alt={alt}>
    <span>
        <TagLabel tags={tags} />
    </span>
    <h3>{title}</h3>
    <p>{desc}</p>
    <a href={link} target="_blank" rel="noreferrer noopener">
        <span class="view__project">View live project</span><span class="view__project"><img src="/assets/card__rightArrow.svg" alt="Right arrow indicating that is an external link and you will be redirected"></span>
    </a>
</article>

<style>
    article {
        width: 19rem;
        border: solid 2px var(--clr__ultra__black);
        border-radius: 2rem;
        padding: 2rem 1.5rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        transition: .2s linear;

        scroll-snap-align: start;
    }

    article:is(:hover, :focus-within) {
        border: solid 2px var(--clr__primary__purple);
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .view__project {
        color: var(--clr__primary__purple);
        font-weight: var(--fw__semibold);

        background: var(--clr__secondary__purple);
        border: solid 1px var(--clr__primary__purple);
        border-radius: 100vh;

        padding: .5rem 1rem;
    }

</style>