---
import Card from "@components/card-component/card.astro";
import { PROJECTS } from "@data/projects";
---

<section>
  <ul>
  {
    PROJECTS.map((project) => (
      <li>
        <Card
          src={project.src}
          alt={project.alt}
          title={project.title}
          tags={project.tags}
          desc={project.desc}
          link={project.link}
        />
      </li>
    ))
  }
  </ul>
</section>

<style>
  ul {
    --spacer: 1.5rem;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 87%;
    list-style: none;

    padding: 0 var(--spacer);

    overflow-x: auto;
    scrollbar-width: none;
  }

  ul::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 768px) {
    ul {
      --spacer: 3rem;
      grid-auto-columns: 46%;
      gap: 2rem;
    }
  }

  @media (min-width: 1024px) {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 6rem;
    }
  }
</style>
