---
import { PROJECTS } from "../data/projects";
import Card from "./card/Card.astro";
---

<section class="section">
  <h2>Selected projects</h2>
  <ul class="projects__container">

      {PROJECTS.slice(0,4).map((project) => (
        <li>
          <Card
            src={project.src}
            alt={project.alt}
            title={project.title}
            tags={project.tags}
            desc={project.desc}
            link={project.link}
          />
        </li>
        )
      )}
  </ul>
  <div class="projects__page">
    <a href="/projects">
      <span class="view__project">View all projects</span><span
        class="view__project"
        ><img
          src="/assets/card__rightArrow.svg"
          alt="Right arrow indicating that is an external link andyou will be redirected"
          loading="lazy"
        /></span
      >
    </a>
  </div>
</section>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("fade__animation");
      }
    });
  });

  const section = document.querySelectorAll(".section");

  section.forEach((el) => observer.observe(el));
</script>

<style>
  section {
    margin-block: 3rem;
  }

  h2 {
    font-size: var(--fs__20);
    font-weight: var(--fw__medium);
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .projects__container {
    --spacer: 1.5rem;
    list-style: none;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0 var(--spacer);
    overflow: scroll;
  }

  .projects__container > li {
    display: grid;
    grid-template-rows: min-content;
  }

  .projects__container::-webkit-scrollbar {
    display: none;
  }

  .projects__page {
    display: flex;
    justify-content: end;
    margin-inline: 1.5rem
  }

  a {
    display: inline-flex;
    align-items: center;
    margin-top: 2rem;

    font-size: var(--fs__16);
    text-decoration: none;
    transition: all 0.2s linear;
  }

  .view__project {
    color: var(--clr__primary__purple);
    font-weight: var(--fw__semibold);

    background: var(--clr__secondary__purple);
    border: solid 1px var(--clr__primary__purple);
    border-radius: 100vh;

    padding: 0.5rem 1rem;
  }

  a img {
    width: 1.5rem;
    aspect-ratio: 1/1;
  }

  @media (min-width: 768px) {
    section {
      margin-block: 5rem;
    }

    a {
      font-size: var(--fs__18);
    }
    a:is(:hover, :focus-within) {
      scale: 1.02;
      translate: 1rem;
    }

    h2 {
      font-size: var(--fs__28);
    }

    .projects__container {
      --spacer: 3rem;
  }

    
    .projects__page {
      margin-inline: 3rem;
    }
  }

  @media (min-width: 800px) {
    section {
      margin-block: 7rem;
    }

    a {
      font-size: var(--fs__20);
    }
    h2 {
      font-size: var(--fs__40);
    }
   
    .projects__page {
      margin-inline: 6rem;
    }
  }

  @media (min-width: 1000px) {
    .projects__container {
      --spacer: 6rem;
    }
  }

</style>