---
const { testimony, src, alt, linkedinHref, name, role  } = Astro.props
---

<article>
    <p>"{testimony}"</p>
    <div>
        <img class="people" src={src} alt={alt}>
        <h3><a href={linkedinHref}>{name}</a></h3>
        <h4>{role}</h4>
        <button class="controls left"><img src="/assets/testimonials__leftArrow.svg" alt=""></button>
        <button class="controls right"><img src="/assets/testimonials__rightArrow.svg" alt="">  </button>  
    </div>
</article>

<style>

    p {
        font-size: var(--fs__18);
        font-weight: var(--fw__regular);
    }


    article {
        border: 2px solid var(--clr__ultra__black);
        border-radius: 2.5rem;

        padding: 3.5rem 1rem;
        margin-top: 2rem;

    }


    div {
        margin-top: 2rem;
        position: relative;
    }
    
    .people {
        width: 82px;
        aspect-ratio: 1;
        outline: 2px solid var(--clr__primary__purple);
        outline-offset: 3px;
        border-radius: 50%;
        margin-inline: auto;
    }

    h3 {
        letter-spacing: -1px;
        font-size: var(--fs__20);
        font-weight: var(--fw__medium);
        margin-top: 1rem;
        text-align: center;
    }

    h3 a {
        text-decoration: none;
        color: var(--clr__primary__purple);

    }

    h4 {
        color: var(--clr__gray);
        letter-spacing: -1px;
        font-size: var(--fs__20);
        font-weight: var(--fw__regular);
    }

    :is(p, a, h4) {
        text-align: center;
    }

    .controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: scale .2s linear;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
    }

    .controls:is(:hover, :focus-within) {
        scale: 1.03;
    }

    .right {
        right: 0rem;
    }

    @media (min-width: 768px) {

        article {
            margin-top: 3rem;
        }


        p {
            font-size: var(--fs__24);
        }

        h3 {
            font-size: var(--fs__28);
        }

        .controls img {
            width: 4rem;
            aspect-ratio: 1;
        }

        .left {
            left: 1rem;
        }

        .right {
            right: 1rem;
        }
    }

    @media (min-width: 1024px) {

        article {
            padding: 3.5rem 15rem;
            margin-top: 4rem;
        }

        p {
            font-size: var(--fs__28);
        }

        h3 {
            font-size: var(--fs__28);
        }

        .left {
            left: 1rem;
        }

        .right {
            right: 1rem;
        }
    }
</style>